<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'My shopping!'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	
	<main>
        <h2 class="title">My shopping!</h2>
        <div class="cart">
            <% if(cartProducto.length != 0) { %>
                <section class="product__cart">
                <% cartProducto.forEach(item => { %>
                    <div class="product__detail__cart">
                                <div class=""><img class="cart_image" src="/images/<%=item.Product.image%>" alt="producto1"></div>
                                <div class="des_cart" >
                                    <p class="">$<%=item.Product.price%></p>
                                    <p class=""><%=item.Product.name%></p>
                                    <p class="">Cantidad: <%=item.quantity%></p>
                                </div>
                            </div>
                            <% }); %> 
                        </section>
            <% } %> 
        </div>
    </main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>