<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Shopping cart'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	
	<main>
        <h2 class="title">Shopping cart!</h2>
        <div class="cart">
            <% if(cartProducto.length != 0) { %>
                <section class="product__cart">
                <% cartProducto.forEach(item => { %>
                    <div class="product__detail__cart">
                                <div class=""><img class="cart_image" src="/images/<%=item.Product.image%>" alt="producto1"></div>
                                <div class="des_cart" >
                                    <p class="">$<%=item.Product.price%></p>
                                    <p class=""><%=item.Product.name%></p>
                                    <p class="">Cantidad: <%=item.quantity%></p>
                                    <form action="/cart/deleteCartElement" method="POST">
                                        <input type="hidden" name="itemId" value="<%= item.product_id %> ">
                                        <input type="hidden" name="quantity" value="<%= item.quantity %> ">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                                
                                
                            </div>
                            <% }); %> 
                        </section>
            <div class="venta">
                <h2>Total: $<%= total %></h2>
                <button>Comprar</button>
                <button>Agregar mas cosas al carrito</button>
            </div>
            <% } %> 
        </div>
    </main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>