<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <section class="product__detail__total">
        <div><h2>Detalle del producto</h2></div>
        <div class="product__detail">
            <img src="/images/<%=producto_encontrado.image%>" alt="producto1">
            <div class="product__detail__and__buttons">
                
                <div class="nompre__descr__products">
                    <p class="nombre__prod__detail"><%=producto_encontrado.name%></p>
                    <p class="descripcion__prod__detail"><%=producto_encontrado.description%></p>
                </div>
                <h2 id="price__detail">$<%=producto_encontrado.price%></h2>
                <div class="buttons__detail">
                    <form method="POST">
                        <button class="button__detail" type="submit">COMPRAR AHORA</button>
                    </form>
                    <form  method="POST">
                        <button class="button__detail" type="submit">AGREGAR A CARRITO</button>
                    </form>
                    <form action="POST">
                        <button class="button__detail" type="submit"><a href="/products/edit/<%= producto_encontrado.id %>" style="color: white;">EDITAR PRODUCTO</a></button>
                    </form>
                    <form action="/products/delete/<%= producto_encontrado.id %>?_method=DELETE" method="POST">
                        <button class="button__detail" type="submit">ELIMINAR PRODUCTO</button>
                    </form>
                </div>
            </div>
        </div>
        
    </section>
    <!-- footer -->
	<%-include('partials/footer')%>
	<!-- /footer -->

</body>
</html>