<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Detail'}) %>
<script src="/javascripts/detail.js" defer></script>

<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <section class="product__detail__total">
        <h2>Detalle del producto</h2>
        <div class="product__detail">
            <img src="/images/<%=producto_encontrado.image%>" alt="producto1">
            <div class="product__detail__and__buttons">
                <div class="nompre__descr__products">
                    <p class="nombre__prod__detail"><%=producto_encontrado.name%></p>
                </div>
                <% products.forEach(producto => { %>
                    <% if (producto_encontrado.id === producto.id) { %>
                        <p id="price__detail" value="<% producto.id %>"><%= producto.Categorie.gender %> </p> 
                    <% } %>
                    <% if (producto_encontrado.id === producto.id) { %>
                        <p id="price__detail" value="<% producto.id %>"><%= producto.Condition.condition %> </p> 
                    <% } %>
                    <% if (producto_encontrado.id === producto.id) { %>
                        <p id="price__detail" value="<% producto.id %>"><%= producto.Color.name %> </p> 
                    <% } %>
                    <% if (producto_encontrado.id === producto.id) { %>
                        <p id="price__detail" value="<% producto.id %>">Talle: <%= producto.Size.number %> </p> 
                    <% } %>
                <% }) %>
                <h2 id="price__detail">$ <%= toThousand(producto_encontrado.price) %> </h2>
                <div class="buttons__detail">
                    <form>
                        <button class="button__detail" type="submit">COMPRAR AHORA</button>
                    </form>
                    <form id="cant" name="cant" action="/cart/addCart" method="post">
                        <input type="hidden" name="productId" value="<%= producto_encontrado.id %>">

                        <label for="cantidad">Cantidad</label>
                        <input type="number" id="cantidad" name="cantidad" value="1">
                        <button class="button__detail" type="submit">AGREGAR A CARRITO</button>
                        <small></small>
                    </form>
                    <form>
                        <button class="button__detail" type="submit"><a href="/products/edit/<%= producto_encontrado.id %>">EDITAR PRODUCTO</a></button>
                    </form>
                    <form action="/products/delete/<%= producto_encontrado.id %>?_method=DELETE" method="POST">
                        <button class="button__detail" type="submit">ELIMINAR PRODUCTO</button>
                    </form>
                </div>
            </div>
        </div>
        
    </section>
    <!-- footer -->
	<%-include('partials/footer')%>
	<!-- /footer -->

</body>
</html>