<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main>
        <h2 class="titu">Ofertas del dia!</h2>
        
        <section class="ofertas">
            <% products.forEach(product => { %>
            <div class="oferta_ind">
                <a href="/products/detail/<%= product.id %>">
                    <img src="<%=product.image%>" alt="oferta1">
                </a>
                <div class="descr_ofer">
                    <div class="p_de_ofer">
                        <h2 id="price">$<%=toThousand(product.price)%></h2>
                        <h3 class="nombre_prod"><%=product.name %></h3>
                    </div> 
                </div>
            </div>
            <% }) %>
        </section>
    </main>
    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>
</html>
