<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editando: '}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div class="main__login">
		<div class="">
			<div class="">
				<h2 class="">Estás editando: <i><%= producto_encontrado.name %></i></h2>
			</div>
		</div>
		<div class="">
			<form class="form__login" action="/products/<%= producto_encontrado.id %>?_method=PUT" method="POST">
				<div class="">
					<div class=" ">
						<label for="name" class="">Nombre del producto:</label>
						<input value="<%= producto_encontrado.name %>" type="text" id="name" name="name" class="form__completar">
					</div>
					<div class="">
						<label for="price" class="">Precio del producto:</label>
						<input type="text" id="price" name="price" class="form__completar" placeholder="Ej: 10678" value="<%= producto_encontrado.price %>">
					</div>
					<div class="">
						<label for="amount" class="">Cantidad en stock:</label>
						<input type="text" id="amount" name="amount" class="form__completar" placeholder="Ej: 15" value="<%= producto_encontrado.amount %>">
					</div>
					<div class="">
						<label for="categorie_id" class="">Categoría:</label>
						<select name="categorie_id" id="categorie_id" class="form__completar">
							<% categories.forEach(categorie => { %>
								<% if (producto_encontrado.categorie_id === categorie.id) { %>
									<option value="<%=categorie.id%>" selected> <%= categorie.gender %> </option>
								<% } else { %>   
									<option value="<%=categorie.id%>"><%= categorie.gender %> </option>
								<% } %> 
							<% }) %>
						</select>
					</div>
					<div class="">
						<label for="condition_id" class="">Condición:</label>
						<select name="condition_id" id="condition_id" class="form__completar">
							<% conditions.forEach(condition => { %>
								<% if (producto_encontrado.condition_id === condition.id) { %>
									<option value="<%=condition.id%>" selected> <%= condition.condition %> </option>
								<% } else { %>   
									<option value="<%=condition.id%>"><%= condition.condition %> </option>
								<% } %> 
							<% }) %>
						</select>
					</div>
					<div class="">
						<label for="color_id" class="">Color:</label>
						<select id="color_id" name="color_id" class="form__completar">
							<% colors.forEach(color => { %>
								<% if (producto_encontrado.color_id === color.id) { %>
									<option value="<%=color.id%>" selected> <%= color.name %> </option>
								<% } else { %>   
									<option value="<%=color.id%>"><%= color.name  %> </option>
								<% } %> 
							<% }) %>
							
						</select>
					</div>
					<div class="">
						<label for="size_id" class="">Talle:</label>
						<select name="size_id" id="size_id" class="form__completar">
							<% sizes.forEach(size => { %>
								<% if (producto_encontrado.size_id === size.id) { %>
									<option value="<%=size.id%>" selected> <%= size.number %> </option>
								<% } else { %>   
									<option value="<%=size.id%>" ><%= size.number %></option>
								<% } %> 
								<% }) %>
						</select>
						  
					</div>
					<div class="">
						<button type="submit" class="form__button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>