<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div class="main__login">
		<div class="">
			<div class="">
				<h2 class="">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="">
			<form class="form__login" action="/products/store" method="POST" enctype="multipart/form-data">

				<div class="">
					<div class="">
						<% if(typeof errors != "undefined"){ %>
							<% errors.forEach(error => { %>
								<p><%= error.msg %> </p>
							<% }) %>
						<% } %> 
						<label for="name" class="">Nombre del producto:</label>
						<input type="text" id="name" name="name" class="form__completar" placeholder="Ej: Zapatillas air-max" value="<%= typeof old != 'undefined' ? old.name : "" %>">
					</div>
					<div class="">
						<label for="price" class="">Precio del producto:</label>
						<input type="text" id="price" name="price" class="form__completar" placeholder="Ej: 10678" value="<%= //typeof old != 'undefined' ? old.price : "" %>">
					</div>
					<div class="">
						<label for="amount" class="">Cantidad en stock:</label>
						<input type="text" id="amount" name="amount" class="form__completar" placeholder="Ej: 15" value="<%= //typeof old != 'undefined' ? old.discount : "" %>">
					</div>
					<div class="">
						<label for="categorie_id" class="">Categoría:</label>
						<select name="categorie_id" id="categorie_id" class="form__completar">
							<% categories.forEach(categorie => { %>
                            	<option value="<%=categorie.id%>"><%= categorie.gender %> </option>     
                    		<% }) %>
						</select>
					</div>
					<div class="">
						<label for="condition_id" class="">Condición:</label>
						<select name="condition_id" id="condition_id" class="form__completar">
							<% conditions.forEach(condition => { %>
                            	<option value="<%=condition.id %>"> <%= condition.condition %> </option>     
                    		<% }) %>
						</select>
					</div>
					<div class="">
						<label for="color_id" class="">Color:</label>
						<select name="color_id" id="color_id" class="form__completar">
							<% colors.forEach(color => { %>
                            	<option value="<%= color.id %>"> <%= color.name %> </option>     
                    		<% }) %>
						</select>
					</div>
					<div class="">
						<label for="size_id" class="">Talle:</label>
						<select name="size_id" id="size_id" class="form__completar">
							<% sizes.forEach(size => { %>
								<option value="<%=size.id%>"><%= size.number %> </option>     
                    		<% }) %>
						</select>
					</div>

					<form>
						<label for="file-input">Selecciona una imagen:</label>
						<input id="file-input" type="file" name="image">
					  </form>
					<div class="">
						<button type="submit" class="form__button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-storage.js"></script>
<script src="/javascripts/fire.js"></script>
</html>